evaluation/UMUDGA/UMUDGA - University of Murcia/Domain Generation Algorithms/locky/LockyDGA/LockyDGA/CPP Debug/LockyDGA.tlog/CL.read.1.tlog
evaluation/UMUDGA/UMUDGA - University of Murcia/Domain Generation Algorithms/locky/LockyDGA/LockyDGA/CPP Debug/LockyDGA.tlog/link.read.1.tlog
evaluation/UMUDGA/UMUDGA - University of Murcia/Domain Generation Algorithms/locky/LockyDGA/LockyDGA/CPP Debug/LockyDGA.tlog/CL.write.1.tlog
evaluation/UMUDGA/UMUDGA - University of Murcia/Domain Generation Algorithms/locky/LockyDGA/LockyDGA/CPP Debug/LockyDGA.tlog/link.write.1.tlog
evaluation/UMUDGA/UMUDGA - University of Murcia/Domain Generation Algorithms/locky/LockyDGA/LockyDGA/CPP Debug/LockyDGA.tlog/link.command.1.tlog
evaluation/UMUDGA/UMUDGA - University of Murcia/Domain Generation Algorithms/locky/LockyDGA/LockyDGA/CPP Debug/LockyDGA.tlog/LockyDGA.lastbuildstate
